worker_processes auto;
daemon off;

events {
    use epoll;
    worker_connections  2048;
    multi_accept on;
}

http {
    sendfile    on;
    server_tokens off;
    tcp_nopush  on;
    tcp_nodelay on;

    keepalive_timeout  65;

    gzip on;
    gzip_proxied any;
    gzip_min_length 1000;
    gzip_comp_level 4;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    log_format l2met 'measure#nginx.service=$request_time request_id=$http_x_request_id';
    error_log  /app/nginx/logs/error.log crit;
    access_log /app/nginx/logs/access.log l2met;

    include mime.types;

    server {
        listen <%= ENV['PORT'] %>;

        location / {
            proxy_pass http://0.0.0.0:<%= ENV['PORT'] %>;
        }
    }
}
